PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=garcia-client
MONGO_DIRECT_URI=mongodb://username:password@host-00-00.mongodb.net:27017,host-00-01.mongodb.net:27017,host-00-02.mongodb.net:27017/?ssl=true&replicaSet=replica-set-name&authSource=admin&retryWrites=true&w=majority&appName=garcia-client
MONGO_DB_NAME=garcia-client
JWT_SECRET=replace-with-a-long-random-secret
CLIENT_URL=http://localhost:5173
